*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(16,14,60);
    background: linear-gradient(90deg, rgba(16,14,60,1) 0%, rgba(2,2,16,1) 43%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: "Amiko",sans-serif;
    min-height: 100vh;;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form input, form button{
    padding: 0.4rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button{
    color:  #003366;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
      background-color: #003366;
      color: white;    
}
